@use 'variables' as *;

@mixin button(
    $bg: map-get($colors, 'primary'),
    $color: map-get($colors, 'white'),
    $bg-hover: map-get($colors, 'hover'),
    $bg-color_dis: map-get($colors, 'secondary') 
) {
    padding: 10px 20px;
    font-size: $font-size_main_app;
    font-weight: $font-weight_bold;
    background: $bg;
    color: $color;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    

    &:hover:not(:disabled) {
        color: $bg-hover;
    }
    &:disabled {
        color: $bg-color_dis;
        cursor: not-allowed;
    }
}