$colors: (
"primary": #616161,
"secondary": #D9D9D9,
"hover": #CCCCCC,
"secondary_transparent": rgb(217, 217, 217, 0.5),
"primary_transparent": rgb(97, 97, 97, 0.5),
"black": #000,
"white": #fff,
"background": #F9F7EA
);

$main_font: "Comfortaa", sans-serif;  

$font-size_main_web: 26px;
$font-size_copyright: 14px;
$font-size_main_app: 15px;
$font-size_header_app: 20px;
$font-size_404: 110px;

$font-weight_regular: 400;
$font-weight_light: 300;
$font-weight_bold: 700;

$letter_spacing: -5%;
